<div class="header-index">

  <button class="button-ionicon" onclick='location.href="/properties/2"'><ion-icon class="backspace" name="chevron-back-outline" size="large"><a href="/properties"></a></ion-icon></button>

  <div class="align-title-center"><h1>Generate lease agreement</h1></div>
</div>

<div class="container position-relative">
    <div class="list-group flex-row center-button-form" id="list-tab" >
      <a class="list-group-item list-group-item-action active btn btn-outline-primary btn-nice-proper rounded border-white" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Contract</a>
      <a class="list-group-item list-group-item-action btn btn-outline-primary btn-nice-proper rounded border-white" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Tenant</a>
    </div>

<div>
<%= simple_form_for [ @property, @property_contract ] do |f| %>
            <%= simple_fields_for :user do |p| %>
  <div class="row center-page">

    <div class="col-md-8 box-shadow-white">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
        <h1>Contract</h1>
            <%= f.input :start_date,      as: :date,
                                          start_year: Date.today.year - 0,
                                          end_year: Date.today.year + 5,
                                          order: [:day, :month, :year],
                                          label: 'Start Date' %>
            <%= f.input :end_date,        as: :date, start_year: Date.today.year + 1,
                                          end_year: Date.today.year + 5,
                                          order: [:day, :month, :year],
                                          label: 'End Date' %>
            <%= f.input :billing_frequency, label: 'Paiement',
                                            prompt: :translate,
                                            collection: ["Monthly", "Weekly"] %>
            <%= f.input :rent_price,  label: 'Rent Price',
                                      input_html: {value: '1450'} %></div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
        <h1>Tenant</h1>
                      <%= p.input :first_name,  label: 'First Name',
                          placeholder: 'First Name',
                          required: false %>
            <%= p.input :last_name, label: 'Last Name',
                                    placeholder: 'Last Name',
                                    required: false%>
          <%= p.input :email, placeholder: 'Email',
                              required: false%>
            <%= p.input :birth_date,  as: :date,
                                      start_year: Date.today.year - 20,
                                      end_year: Date.today.year - 90,
                                      order: [:day, :month, :year],
                                      label: 'Date of Birth',
                                      required: false %>
          <%= p.input :gender,  label: 'Gender',
                                as: :check_boxes,
                                collection: ['Female', "Male"],
                                wrapper: :horizontal_collection_inline,
                                required: false %>
          <%= p.input :profession,  label: 'Profession',
                                    collection: ["Audit", "Accounting", "Management", "Web Development", "sustainability", "Sport"],
                                    required: false,
                                    prompt: :translate %>
          <%= p.input :professional_status, label: 'Professional Status',
                                            collection: ["Full Time", "Part Time", "Student", "Retired", "unemployed"],
                                            required: false,
                                            prompt: :translate %>
        <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer bg-white below-new-form">
  <%= f.button :button, 'Cancel', type: :reset, class: 'btn btn-none btn-cancel' %>
  <%= f.button :submit, "Preview", class:"btn-outline-primary active btn-submit-right"%>
  <% end %>
</div>
