<div class="container">
<h1>Générer mon contrat de location</h1>
<div class="col-md-8 ">
      <div class="list-group flex-row center-button-form" id="list-tab" >
        <a class="list-group-item list-group-item-action active btn btn-outline-primary btn-nice-proper rounded border-white" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Contrat</a>
        <a class="list-group-item list-group-item-action btn btn-outline-primary btn-nice-proper rounded border-white" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Locataire</a>
      </div>
    </div>

<div class="col-md-8">
<%= simple_form_for [ @property, @property_contract ] do |f| %>
            <%= simple_fields_for :user do |p| %>
  <div class="row center-page">

    <div class="col-md-8 box-shadow-white">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <%= f.input :start_date,      as: :date,
                                          start_year: Date.today.year - 0,
                                          end_year: Date.today.year + 5,
                                          order: [:day, :month, :year],
                                          label: 'Début du contrat' %>
            <%= f.input :end_date,        as: :date, start_year: Date.today.year + 1,
                                          end_year: Date.today.year + 5,
                                          order: [:day, :month, :year],
                                          label: 'Fin du contrat' %>
            <%= f.input :billing_frequency, label: 'Paiement',
                                            prompt: :translate,
                                            collection: ["Mensuel", "Hebdomadaire"] %>
            <%= f.input :rent_price,  label: 'Prix du loyer',
                                      input_html: {value: '1450'} %></div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                      <%= p.input :first_name,  label: 'Prénom',
                          placeholder: 'Prénom',
                          required: false %>
            <%= p.input :last_name, label: 'Nom',
                                    placeholder: 'Nom',
                                    required: false%>
          <%= p.input :email, placeholder: 'Email',
                              required: false%>
            <%= p.input :birth_date,  as: :date,
                                      start_year: Date.today.year - 20,
                                      end_year: Date.today.year - 90,
                                      order: [:day, :month, :year],
                                      label: 'Date de Naissance',
                                      required: false %>
          <%= p.input :gender,  label: 'Genre',
                                as: :check_boxes,
                                collection: ['Femme', "Homme", "Iel"],
                                wrapper: :horizontal_collection_inline,
                                required: false %>
          <%= p.input :profession,  label: 'Profession',
                                    collection: ["Audit", "Comptabilité", "Gestion", "Bâtiment et travaux publics", "Commerce-distribution", "Environnement", "Hôtellerie restauration", "Paramédical", "Sport"],
                                    required: false,
                                    prompt: :translate %>
          <%= p.input :professional_status, label: 'Statut professionel',
                                            collection: ["CDI", "CDD", "Étudiant", "Retraité", "Chomeur"],
                                            required: false,
                                            prompt: :translate %>
        <% end %>
          </div>
      </div>
    </div>
  </div>
  <div class="footer bg-white text-dark">
    <%= f.button :button, 'Annuler', type: :reset, class: 'btn btn-none' %>
    <%= f.button :submit, "Visualiser mon contrat", class:"btn-outline-primary active btn-submit-right"%>
    <% end %>
  </div>
</div>


</div>
</div>
