<h1>Générer un contrat de location</h1>


<div class="col-md-8">
<%= simple_form_for [ @property, @property_contract ],
          wrapper_mappings: {
            date: :horizontal_multi_select,
          } do |f| %>
            <%= simple_fields_for :user,
          wrapper_mappings: {
            date: :horizontal_multi_select,
          } do |p| %>
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Contrat</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Locataire</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <%= f.input :start_date,      as: :date,
                                          start_year: Date.today.year - 0,
                                          end_year: Date.today.year + 5,
                                          order: [:day, :month, :year],
                                          label: 'Début du contrat' %>
            <%= f.input :end_date,        as: :date, start_year: Date.today.year + 1,
                                          end_year: Date.today.year + 5,
                                          order: [:day, :month, :year],
                                          label: 'Fin du contrat' %>
            <%= f.input :billing_frequency, label: 'Paiement',
                                            prompt: :translate,
                                            wrapper: :horizontal_form,
                                            collection: ["Mensuel", "Hebdomadaire"] %>
            <%= f.input :rent_price,  label: 'Prix du loyer',
                                      input_html: {value: '1450'} ,
                                      wrapper: :horizontal_form %></div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                      <%= p.input :first_name,  label: 'Prénom',
                          placeholder: 'Prénom',
                          required: false,
                          wrapper: :horizontal_form %>
            <%= p.input :last_name, label: 'Nom',
                                    placeholder: 'Nom',
                                    required: false,
                                    wrapper: :horizontal_form %>
          <%= p.input :email, placeholder: 'Email',
                              required: false,
                              wrapper: :horizontal_form %>
            <%= p.input :birth_date,  as: :date,
                                      start_year: Date.today.year - 20,
                                      end_year: Date.today.year - 90,
                                      order: [:day, :month, :year],
                                      label: 'Date de Naissance',
                                      required: false %>
          <%= p.input :gender,  label: 'Genre',
                                as: :check_boxes,
                                collection: ['Femme', "Homme"],
                                wrapper: :horizontal_collection_inline,
                                required: false %>
          <%= p.input :profession,  label: 'Profession',
                                    collection: ["Audit", "Comptabilité", "Gestion", "Bâtiment et travaux publics", "Commerce-distribution", "Environnement", "Hôtellerie restauration", "Paramédical", "Sport"],
                                    required: false,
                                    wrapper: :horizontal_form,
                                    prompt: :translate %>
          <%= p.input :professional_status, label: 'Statut professionel',
                                            collection: ["CDI", "CDD", "Étudiant", "Retraité", "Chomeur"],
                                            required: false,
                                            wrapper: :horizontal_form,
                                            prompt: :translate %>
        <% end %>
          </div>
      </div>
    </div>
  </div>
      <%= f.button :submit, "Visualiser mon contrat de location", class:"btn btn-dark btn-lg btn-block"%>
    <% end %>
</div>
