<div class = container>
  <div class = dashboard>
    <h1>Mon Dashboard</h1>
      <div class ="index-kpis">
        <div class="card-kpis-container">
          <div class="cards-kpi">
            <div class="card-kpi">
              <%= "Global ROI" %>
            </div>
            <div class="card-kpi">
              <%= "Expenses trends" %>
            </div>
            <div class="card-kpi">
              <%= "Occupation rate" %>
            </div>
          </div>
        </div>
      </div>

    <div>
      <h2>Mes Propriétés</h2>

      <div class = card-properties>
        <ul><% @properties.each do |property| %>
          <p><%=link_to property.property_name, property_path(property) %>
          <%= property.address %></p>
            <% end %></ul>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/calendar-show' %>
