<div class = container>
  <div class = dashboard>
    <br>
    <br>
    <br>
    <br>
    <br>
      <h1>Money money money... </h1>
        <div class ="index-kpis">
          <div class="card-kpis-container">
            <div class="cards-kpi">
              <div class="card-kpi">
                <div>
                  <%= column_chart(@data, xtitle: 'KPI') %>
                </div>
              </div>
              <div class="card-kpi">
                <div>
                  <%= column_chart(@data, xtitle: 'KPI') %>
                </div>
              </div>
              <div class="card-kpi">
                <div>
                  <%= column_chart(@data, xtitle: 'KPI') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="properties-container">
        <h1>Mes propriétés </h1>
        <br>
        <div class="title-card-properties">
          <div class="title-card-element">
            <h5>                   </h5>
          </div>
          <div class="title-card-element">
            <h5>Last month rent status</h5>
          </div>
        <div class="title-card-element">
          <h5>Annual ROI net</h5>
        </div>
      </div>
        <div class = card-properties>
          <ul>
          <% @properties.each do |property| %>
            <div class="card-property">
                <div class="img-properties">
                  <img class="card-img-top" src="<%= image_path('Property1_Picture.jpg') %>" alt="Card image cap">
                </div>
                  <div class="property-status">
                    <%= property.rental_status%>
                  </div>
                  <div class="property-ROI">
                    <%= "-7.7%"  %>
                  </div>
            </div>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="calendar">
  <%= render 'shared/calendar-show' %>
</div>
