<h1>Mon Dashboard</h1>

<div class = card-kpis>
<%= "Global ROI" %>
<%= "Expenses trends" %>
<%= "Occupation rate" %>
</div>

<h2>Mes Propriétés</h2>

<div class = card-properties>
  <ul>
    <li><%= @property.property_name %>
    <%= @property.property_address %></li>
  </ul>
</div>
