<div class="container">
<h1>Dashboard <%= @property.property_name %></h1>
<div class="container">
  <div class="card-kpis">
    <div class="dashboard-card-stat">
      <div class="card-kpi">
        <p>Global ROI</p>
        <h3>300€</h3>
      </div>
      <div class="card-kpi">
        <p>Expenses trends (%)</p>
        <h3>5%</h3>
      </div>
      <div class="card-kpi">
        <p>Occupation rate (%)</p>
        <h3>20%</h3>
      </div>
    </div>
  </div>
  <div class="card-actions-stat">
    <h2>Your important</h2>
      <div class="action-property">
        <div class="action-property-info">
          <p>Rent due</p>
            <%= render 'shared/chatroom' %>
        </div>
      </div>
      <div class="action-property-refund">
        <div class="action-property-info">
            <% @balances.each do |balance| %>
                <h2><% balance.expenses.each do |expense| %></h2>
                <div></div>
                  <% if expense.state == "pending" %>
                    Refund <%= expense.type %>
                  <p class= "btn-primary"><%= link_to 'Refund', checkout_expense_path(id: expense.id) %></p>
                  <% end %>
              <% end %>
            <% end %>
        </div>
      </div>
  </div>
</div>
            <%= render 'shared/calendar-show' %>
            <%= render 'shared/flat-info' %>
