<div class="header-index">
  <H1><%= @property.property_name %></h1>
</div>
<div class="container">
  <div class="kpis-actions">
    <div class="card-kpis-action">
      <h2>Your important</h2>
      <div class="dashboard-card-action">
        <div class="action-property">
            <p>Rent due</p>
              <%= render 'shared/chatroom' %>
        </div>
        <div class="action-property">
        <% @balances.each do |balance| %>
            <% balance.expenses.each do |expense| %>
              <% if expense.state == "pending" %>
                Refund <%= expense.type %>
                <button type="button" class="btn">
                  <%= link_to 'Refund', checkout_expense_path(id: expense.id) %>
                </button>
              <% end %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="card-kpis">
      <div class="dashboard-card-stat">
        <div class="card-kpi">
        <h1><ion-icon name="analytics-outline"></ion-icon></h1>
          <p>My Expenses</p>
          <%= @expense_data_property1 %>
        </div>
        <div class="card-kpi">
        <h1><ion-icon name="cash-outline"></ion-icon></h1>
           <p>My incomes</p>
            <%= @income_data_property1 %>
        </div>
        <div class="card-kpi d-flex flex-row">
          <div class="card-kpi-symbol">
            <h1><ion-icon name="people-outline"></ion-icon></h1>
          </div>
          <div class="card-kpi-info">
            <p>Occupation rate (%)</p>
            <h3><%= @roi %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
            <%= render 'shared/calendar-show' %>
            <%= render 'shared/flat-info' %>
</div>
