<h1><%= @property.property_name %></h1>
  <p><%= @property.address %></p>
  <p><%= @property.size %></p>
  <p><%= @property.rental_status %></p>
  <p><%= @property.property_type %></p>
  <p><%= @property.property_amount %></p>
