<div class="container-flat-info">
  <div class="flat-info">
    <div class="flex-img">
        <ion-icon class="ionicon-icon-flat" name="home-outline"></ion-icon>
        <div class="align-important-center"><h2>Your flat information</h2></div>
    </div>
        <div class="bordure-flat-less"></div>
      <div id="nav-flat-info">
        <ul class="nav nav-tabs nav-pills mb-3 nav-justified" id="pills-tab" >
          <li class="nav-item">
            <a class="nav-link active" id="pills-locataire-tab" data-toggle="pill" href="#pills-locataire" aria-controls="pills-locataire" aria-selected="true">Tenant</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-flat-tab" data-toggle="pill" href="#pills-flat" aria-controls="pills-flat" aria-selected="false">Flat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-document-tab" data-toggle="pill" href="#pills-document" aria-controls="pills-document" aria-selected="false">Document</a>
          </li>
        </ul>
      </div>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-locataire" role="tabpanel" aria-labelledby="pills-locataire-tab">
        <% @property.renters.each do |property| %>
          <br>
          <h5>Tenant name :</h5>
          <h6><%= property.first_name %> <%= property.last_name %></h6>
          <br>
          <h5>Profession :</h5>
          <h6><%= property.profession%></h6>
          <br>
          <h5>Birth date :</h5>
          <h6><%= property.birth_date%></h6>
          <br>
          <h5>Professionnal status :</h5>
          <h6><%= property.professional_status%></h6>
          <% end %>
      </div>

      <div class="tab-pane fade" id="pills-flat" role="tabpanel" aria-labelledby="pills-flat-tab">
        <br>
        <h5>Adress :</h5>
        <h6><%= @property.address %></h6>
        <br>
        <h5>Flat size :</h5>
        <h6><%= @property.size %>m2</h6>
        <br>
        <% @contracts.each do |contract| %>
        <h5>Price Excl.Tax :</h5>
        <h6><%= contract.rent_price %></h6>
        <br>
        <h5>Payment Frequency :</h5>
        <h6><%= contract.billing_frequency %></h6>
          <% end %>
      </div>
      <div class="tab-pane fade" id="pills-document" role="tabpanel" aria-labelledby="pills-document-tab">
        <br>
        <h6><ion-icon name="attach-outline"></ion-icon>Renting contract</h6>
        <br>
        <h5><ion-icon name="attach-outline"></ion-icon>Plumbing work invoice</h5>
        <br>
      </div>
      <div class="tab-pane fade" id="pills-earn" role="tabpanel" aria-labelledby="pills-earn-tab"></div>
    </div>
  </div>
</div>
