<div class="container-flat-info">
  <div class="flat-info">
    <h2>Your flat information</h2>
    <ul class="nav nav-tabs nav-pills mb-3 nav-justified" id="pills-tab">

      <li class="nav-item">
        <a class="nav-link active" id="pills-locataire-tab" data-toggle="pill" href="#pills-locataire" aria-controls="pills-locataire" aria-selected="true">Locataire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-flat-tab" data-toggle="pill" href="#pills-flat" aria-controls="pills-flat" aria-selected="false">Appartement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-document-tab" data-toggle="pill" href="#pills-document" aria-controls="pills-document" aria-selected="false">Documents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-earn-tab" data-toggle="pill" href="#pills-earn" aria-controls="pills-earn" aria-selected="false">Gains</a>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-locataire" role="tabpanel" aria-labelledby="pills-locataire-tab">
        <% @property.renters.each do |property| %>
          <h4>Prénom</h4>
          <p><%= property.first_name%></p>
          <h4>Nom</h4>
          <p><%= property.last_name%></p>
          <h4>Profession</h4>
          <p><%= property.profession%></p>
          <h4>Statut Professionel</h4>
          <p><%= property.professional_status%></p>
            <% end %>
      </div>

      <div class="tab-pane fade" id="pills-flat" role="tabpanel" aria-labelledby="pills-flat-tab">
        <h4>Adresse</h4>
        <p><%= @property.address %></p>
        <h4>Taille de l'appartement</h4>
        <p><%= @property.size %>m2</p>

        <% @contracts.each do |contract| %>
        <p>Prix HC  <%= contract.rent_price %></p>
        <p>Fréquence de paiement : <%= contract.billing_frequency %></p>
        <p>Paiement du mois en cours : <%= contract.rent_payment_status %></p>
          <% end %>
      </div>
      <div class="tab-pane fade" id="pills-document" role="tabpanel" aria-labelledby="pills-document-tab">...</div>
      <div class="tab-pane fade" id="pills-earn" role="tabpanel" aria-labelledby="pills-earn-tab">..sdqfgergergergerg.</div>
    </div>
  </div>
</div>
