<div class ="container-general-home">
    <div class="home-banner">
      <div class="home-banner-container">
        <h1 class="home-description">Optimise the management of your properties</h1>
        <button class="btn btn-primary"><%=link_to "Let's visit", properties_path %></button>
      </div>
    </div>

    <div class="home-articles">
      <div class="home-articles-container">
        <h2>Last news</h2>
        <br>
        <div class="cards-home">
          <div class="card-article-home">
            <div class="card-content">
              <img src=<%= image_path('landlord.jpeg') %> alt="" class="card-img-top-home">

              <div class="card-body">
                <h5 class="card-title">French Property</h5>
                  <p class="card-text">Guide to Letting Property in France</p>
                  <a href="https://www.french-property.com/guides/france/working-in-france/letting-property/top-tips" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div class="flap">
          <div class="card-article-home">
            <div class="card-content">
            <img src=<%= image_path('cosselaw.jpeg') %> alt="" class="card-img-top-home">
              <div class="card-body">
                <h5 class="card-title">JDN</h5>
                  <p class="card-text">Cosse 2022 law: definition, housing and...</p>
                  <a href="https://www.journaldunet.fr/patrimoine/guide-de-l-immobilier/1202297-loi-cosse-2022-definition-logements-et-plafonds-de-loyer/" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
        <div class="card-article-home">
            <div class="card-content">
              <img src=<%= image_path('loyer.jpeg') %> alt="" class="card-img-top-home">
              <div class="card-body" src="https://www.service-public.fr/particuliers/vosdroits/F31272">
                <h5 class="card-title">Public Service</h5>
                  <p class="card-text">Unpaid rent and tenant eviction</p>
                </a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="home-articles-container">
      <h1>They talk about us</h1>
      <br>
      <div class="reference-cards">
      <img src=<%= image_path('Le_Parisien_-_logo_2016.png') %> alt="" class="reference">
      <img src=<%= image_path('figaro-logo.jpg') %> alt="" class="reference">
      <img src=<%= image_path('ouest-france.jpg') %> alt="" class="reference">
      <img src=<%= image_path('TF1_(2013).svg.png') %> alt="" class="reference">
      </div>
    </div>
</div>
