<div class ="container-general-home">
    <div class="home-banner">
      <div class="home-banner-container">
        <h1 class="home-description">Optimise the management of your properties</h1>
        <button class="btn nav-link"><%=link_to "Manage my properties", properties_path %></button>
      </div>
    </div>

    <div class="home-articles">
        <div class="home-title">A complete interface, easy to control</div>
      <div class="home-product-container">
        <div class="home-product-text">
          <br>
          <div class="card-product">Manage the arrivals and departures of your tenants, refunds and even manage tenant's contracts in a few clicks with complete peace of mind.</div>
          <br>
          <div class="card-product">Refund a tenant? Refund your tenant from your space.</div>
          <br>
          <div class="card-product"><span class="card-product-action"><%=link_to "Discover the platform to find out more.", properties_path %></span></div>
        </div>
        <div class="card-product-image">
         <img src=<%= image_path('features.png') %> alt="" class="card-feature-home">
        </div>
      </div>

      <div class="home-articles-container">
        <div class="home-title">Lastest news on the market of property management</div>
        <br>
        <div class="cards-home">
          <div class="card-article-home">
            <div class="card-content">
              <img class="card-img-top-home" src=<%= image_path('landlord.jpg') %> alt="">
              <div class="card-body">
                <h5 class="card-title">French Property</h5>
                  <p class="card-text">Guide to Letting Property in France</p>
                  <a href="https://www.french-property.com/guides/france/working-in-france/letting-property/top-tips" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div class="flap">
          <div class="card-article-home">
            <div class="card-content">
            <img src=<%= image_path('cosselaw.jpg') %> alt="" class="card-img-top-home">
              <div class="card-body">
                <h5 class="card-title">JDN</h5>
                  <p class="card-text">Cosse 2022 law: definition, housing and...</p>
                  <a href="https://www.journaldunet.fr/patrimoine/guide-de-l-immobilier/1202297-loi-cosse-2022-definition-logements-et-plafonds-de-loyer/" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
        <div class="card-article-home">
            <div class="card-content">
              <img src=<%= image_path('loyer.jpg') %> alt="" class="card-img-top-home">
              <div class="card-body" src="https://www.service-public.fr/particuliers/vosdroits/F31272">
                <h5 class="card-title">Public Service</h5>
                  <p class="card-text">Unpaid rent and tenant eviction</p>
                <a href="https://www.journaldunet.fr/patrimoine/guide-de-l-immobilier/1202297-loi-cosse-2022-definition-logements-et-plafonds-de-loyer/" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>
      <div class="home-kpis-container">
        <div class="home-kpis">
          <div class="home-kpis-cards">
            <div class="home-kpis-card"><div class="home-kpis-text"><ion-icon name="happy-outline"></ion-icon><br>95% </div>satisfied customers*</div>
            <div class="home-kpis-card"><div class="home-kpis-text"><ion-icon name="people-outline"></ion-icon><br>25 000 </div>active users</div>
            <div class="home-kpis-card"><div class="home-kpis-text"><ion-icon name="home-outline"></ion-icon><br>107 000</div> managed properties</div>
          </div>
        </div>
      </div>
  <div class="home-articles">
    <div class="home-articles-container">
      <div class="home-title">They talk about us</div>
        <div class="home-article-container">
          <div class="home-articles-quote">
          <div class="quote-text"> Casper Rent has created a completely new business model for property management. Very satisfied with their services, I decided to use their platform. I highly recommend Casper Rent!</div>
          <div class="quote-name">Will Smith, Owner of 4 flats in Paris</div>
          </div>
        </div>
      <br>
      <div class="reference-cards-container">
        <div class="reference-cards">
          <div class="reference"><img src=<%= image_path('Le_Parisien_-_logo_2016.png') %> alt=""></div>
          <div class="reference"><img src=<%= image_path('figaro-logo.jpg') %> alt=""></div>
          <div class="reference"><img src=<%= image_path('ouest-france.jpg') %> alt=""></div>
          <div class="reference"><img src=<%= image_path('TF1_(2013).svg.png') %> alt=""></div>
        </div>
      </div>
    </div>
  </div>
