<div class="header-index">
  <button class="button-ionicon" onclick='location.href="/properties"'><ion-icon class="backspace" name="chevron-back-outline" size="large"><a href="/properties"></a></ion-icon></button>


  <div class="align-title-center"><h1>Checkout</h1></div>
</div>

<div class = container-general-refund>
  <div class = container-payment>
    <h1>Refund your lovely tenant </h1>
      <br>
          <%= image_tag "image (1) (1).png", class: "card-plombier" %>
          <h2><%= @expense.type %>: <%= @expense.amount %> €</h2>
          <h3>Status: <%= @expense.state %></h2>
          <p class = description>Description: replacement of the hot water tank</p>
          <button><%= image_tag "téléchargement (1).png", class: "card-invoice" %></button>
          <p class = description>Download invoice</p>
      <br>
      <button id="pay" class="btn btn-primary">Refund</button>
  </div>
</div>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @expense.checkout_session_id %>'
          });
        });
      </script> -->
    </div>
  </div>
</div>
